.Home img{
    height:300px;
    width:100%;
    object-fit: cover;
    border-radius: 0.8em;
    display:flex;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.Home{
    /* margin:1em 0; */
    height:83vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    background-image: url("../img/lowPic/17.jpg") ;
    opacity:0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
   
    
}
.Home h1 , h3 , q{
    color:#222;
    
}

.header{
    display:flex;
    flex-direction: column;
}
.Box{
    border:1px solid black;
    height: 15em;
    width:30em;
    position: absolute;
    border-radius: 0.8em;
    background-color: #000;
    opacity: 0.10;
    margin:auto;
    
}

