.Projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
  
  .SlideShow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin : 1em 0;
    border-radius: 0.5em;
    background-position: center;

}

@media screen and (max-width:769px){
  .projectWrapper{
    width:100%;
    
  }
}