

.ProjectItems{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width:100%;
    background-color: #eee;
    direction:rtl;
 border-radius: 0.5em;
 margin:1.5em;
 display:flex;
 align-items: center;
 justify-content: center;


}
.ProjectItems img{
    width:100%;
    /* border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em; */
    height:15em;

}
.ProjectItems h3 , h4 {
    /* padding:0.1em 0.3em 0.3em 0; */
    display:flex;
}


@media screen and (max-width:769px){
    .ProjectItems{
        width:80%;
        display:flex;
        justify-content: center;
        text-align: center;
        padding:0 0 0 2em
 
    }
    .text{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin:0 auto;
        flex-wrap: wrap;
        width:30%;

        
    }
    .ProjectItems img{
        width:70%;
        margin:0;
        
    }
    .projectscreen{
        width:90%;
        display: flex;
        justify-content: center;
    }


}