
.SlideShow img{
    height:400px;
    width:70%;
    object-fit:fill;
    justify-content: center;
    align-items: center;
    border-radius: 0.8em;
    display:flex;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin:auto;
}
